{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <h2>Upload Text Documents</h2>

      <form action="/uploader" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="text" id="text">
            <label class="custom-file-label" for="image"></label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
